.profesor_container {
    width: 600px; /* Ancho del contenedor principal */
    margin: 20px auto; /* Centra el contenedor en la página */
}

.profesor {
    background-color: #f2f2f2; /* Cambio de fondo a un color más claro */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.avatar_container {
    margin-right: 20px;
}

.profesor_avatar {
    width: 150px; /* Ancho del avatar */
    height: 150px; /* Altura del avatar */
    border-radius: 50%;
    margin: 30px auto;
}

.separator_vertical {
    width: 2px; /* Ancho del separador vertical */
    height: 240px; /* Altura igual al contenedor */
    background-color: #000000; /* Color del separador vertical */
    margin-right: 40px; /* Espacio entre el avatar y la información */
}

.info_container {
    color: #333; /* Cambio de color del texto a un tono más oscuro */
    display: flex;
    flex-direction: column;
}

.separator_horizontal {
    width: 100%; /* Ancho del separador horizontal */
    height: 1px; /* Altura del separador horizontal */
    background-color: #6e6e6e; /* Color del separador horizontal */
    margin: 10px 0; /* Espacio alrededor del separador horizontal */
}

.profesor_nombre {
    font-weight: bold;
    margin-bottom: 10px;
}

.profesor_precio,
.profesor_valoracion,
.profesor_correo {
    margin-bottom: 10px;
}

.button-like-link {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button-like-link:hover {
    background-color: #45a049;
}
