body {
	background-color: #191919;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	color: #f8f8f8;
}

main {
	padding: 10px 2%;
	background-color: transparent;
}

button {
	background-color: transparent;
	color: #C84B31;
	padding: 10px;
	border: 2px solid #C84B31;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}

header {
	background-image: linear-gradient(#2D4263, #191919);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0rem 1.5rem;
}

nav li, nav a {
	font-weight: 400;
	font-size: 20px;
	color: #f8f8f8;
	text-decoration: none;
}

nav a {
	padding: 0.6rem 0.6rem;   
}

.logo {
    margin-left: 10px;
    margin-top: 5px;
}

.logo img {
    height: 120px; /* Aumentar la altura del logo */
    width: auto; /* Permitir que la anchura se ajuste automáticamente */
}

.nav-links , .nav-profile{
	list-style: none;
}

input, textarea {
	background-color: transparent;
	border: 1px solid #C84B31;
	border-radius: 4px;
	padding: 4px 6px;
}

select {
	background: transparent;
	overflow: hidden;
	border: 1px solid #C84B31;
	border-radius: 4px;
	padding: 10px;
}

.option {
	font-size: medium;
}

.centerer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-login, .formulario-registro {
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	border: 2px solid #C84B31;
	gap: 10px;
}

.formulario-login input, .formulario-registro input {
	background-color: transparent;
	font-size: large;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #C84B31;
	padding: 4px 6px;
}

.formulario-login input:focus {
	outline: none;
	background: #ECDBBA22;
}


fieldset {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 10px 20px;
}

form input, form button{
	width: fit-content;
}

select {
	height: fit-content;
}



