

body {
	background-color: #d48686;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	color: #f8f8f8;
}

main {
	padding: 10px 2%;
	background-color: transparent;
}

button {
	background-color: transparent;
	color: #C84B31;
	padding: 10px;
	border: 2px solid #C84B31;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}

header {
    background-image: linear-gradient(#b910cf, #191919); /* Cambia el gradiente de color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; /* Aumenta el espacio vertical */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
    color: #fff; /* Cambia el color del texto a blanco */
}


.saludo {
    margin-left: 20px; /* Añade un margen al saludo */
    font-size: 15px; /* Aumenta el tamaño del texto */
    margin-right: auto; /* Mueve el saludo hacia la izquierda */
}


input, textarea {
	background-color: transparent;
	border: 1px solid #C84B31;
	border-radius: 4px;
	padding: 4px 6px;
}

select {
	background: transparent;
	overflow: hidden;
	border: 1px solid #C84B31;
	border-radius: 4px;
	padding: 10px;
}

.option {
	font-size: medium;
}

.centerer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-login, .formulario-registro {
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	border: 2px solid #C84B31;
	gap: 10px;
}

.formulario-login input, .formulario-registro input {
	background-color: transparent;
	font-size: large;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #C84B31;
	padding: 4px 6px;
}

.formulario-login input:focus {
	outline: none;
	background: #ECDBBA22;
}


fieldset {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 10px 20px;
}

form input, form button{
	width: fit-content;
}

select {
	height: fit-content;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
    align-items: center;
    padding: 10px; /* Añade un espacio alrededor del contenedor */
}

/* Estilos para la información del usuario */
.info-usuario {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Añade un margen derecho para separar los elementos */
}

.info-usuario img {
    border-radius: 50%; /* Añade bordes redondeados a la imagen */
    margin-right: 10px; /* Añade un espacio entre la imagen y el texto */
    width: 80px; /* Cambia el ancho de la imagen */
    height: 80px; /* Cambia la altura de la imagen */
}


/* Estilos para los enlaces del dropdown */
/* Estilos para el dropdown */
.dropdown-content {
    display: none; /* Oculta el contenido del dropdown por defecto */
    position: absolute; /* Posiciona el dropdown de manera absoluta */
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Añade sombra al dropdown */
    z-index: 1; /* Asegura que el dropdown esté por encima del resto del contenido */
    right: 0; /* Alinea el dropdown a la derecha por defecto */
    top: 100px; /* Ajusta la posición vertical del dropdown */
	padding-left: 0; /* Elimina el padding izquierdo para evitar el espacio en blanco */
}
/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-content {
    display: block; /* Muestra el contenido del dropdown al pasar el ratón sobre él */
}

/* Estilos para los enlaces del dropdown */
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
    transition: background-color 0.3s ease; /* Agrega una transición suave al cambiar el color de fondo */
}

/* Estilos para los enlaces del dropdown al pasar el ratón */
.dropdown-content a:hover {
    background-color: #d413b4; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}


/* Estilos para los enlaces del menú */
nav a {
    font-weight: bold; /* Añade negrita al texto */
    font-size: 16px; /* Ajusta el tamaño de fuente */
    color: #0066c0; /* Cambia el color del texto */
    text-decoration: none; /* Elimina la subrayado del enlace */
    padding: 10px 15px; /* Añade espaciado interno al enlace */
    border-radius: 5px; /* Añade bordes redondeados al enlace */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

nav a:hover {
    background-color: #c514c5; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
    color: #333; /* Cambia el color del texto al pasar el ratón sobre el enlace */
}

nav a:focus {
    outline: none; /* Elimina el contorno al enfocar el enlace */
}

/* Estilos para la lista del menú */
nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espaciado interno de la lista */
    margin: 0; /* Elimina el margen externo de la lista */
}

nav li {
    display: inline-block; /* Hace que los elementos de la lista se muestren en línea */
    margin-right: 10px; /* Añade un margen derecho entre los elementos de la lista */
}

.logo {
    margin-left: 10px;
    margin-top: 5px;
}

.logo img {
    height: 120px; /* Aumentar la altura del logo */
    width: auto; /* Permitir que la anchura se ajuste automáticamente */
}

