.producto {
    width: 200px; /* Ancho del contenedor del producto */
    border: 1px solid #ccc;
    margin: 10px;
    float: left;
}

/* Estilo para imágenes de productos */
.producto_imagen {
    max-width: 80%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Evita espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.eliminador_Producto {
    width: 200px;
    height: 200px;
}

/* Estilo para imágenes de detalle de producto */
.detalle_imagen {
    max-width: 45%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Evita espacio adicional debajo de la imagen */
    margin-bottom: 10px; /* Añade un espacio adicional debajo de la imagen */
}


.producto_nombre {
    text-align: center;
    margin-top: 5px;
}
.star {
    color: orange; /* Color de las estrellas */
    font-size: 20px; /* Tamaño de las estrellas */
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*****************************************/
/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semi-transparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .verde {
    color: green;
}

.rojo {
    color: red;
}
