.grupo-productos {
    width: 100%; /* Ancho total del grupo */
    margin-bottom: 20px; /* Espacio entre grupos */
    display: flex;
}

.producto {
    width: calc(33.33% - 20px); /* Ancho del contenedor del producto (1/3 del ancho total menos el espacio entre productos) */
    border: 3px solid #ccc;
    margin: 10px; /* Margen alrededor del producto */
    float: left;
    background: linear-gradient(to bottom right, #50c6e4, #FF69B4); /* Fondo verde degradado a rosa */
    text-align: center; /* Alineación del contenido */
}

.producto_imagen {
    width: 50%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border: 2px solid #FF69B4; /* Borde rosa de 2px */
    background: linear-gradient(to bottom right, #FF69B4, #69d2ff); /* Fondo verde degradado a rosa */
    padding: 10px; /* Espacio alrededor de la imagen */
}


.eliminador_Producto {
    width: 200px;
    height: 200px;
}

/* Estilo para imágenes de detalle de producto */
.detalle_imagen {
    max-width: 300px; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Evita espacio adicional debajo de la imagen */
    margin-bottom: 10px; /* Añade un espacio adicional debajo de la imagen */
    border: 2px solid #FF69B4; /* Borde rosa de 2px */
    background: linear-gradient(to bottom right, #5d9cd7, #FF69B4); /* Fondo verde degradado a rosa */
    padding: 10px; /* Espacio alrededor de la imagen */
}

.carrito_imagen {
    max-width: 150px; /* La imagen ocupará como máximo el 25% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Evita espacio adicional debajo de la imagen */
    margin-bottom: 10px; /* Añade un espacio adicional debajo de la imagen */
}
.producto_nombre {
    text-align: center;
    margin-top: 5px;
}
.star {
    color: orange; /* Color de las estrellas */
    font-size: 20px; /* Tamaño de las estrellas */
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* Estilos para el contenedor de profesores */
.profesor {
    border: 1px solid #ccc; /* Borde del contenedor */
    padding: 10px; /* Espacio interno del contenedor */
    margin-bottom: 20px; /* Margen inferior entre profesores */
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para la imagen del profesor */
.profesor_avatar {
    width: 70px; /* Ancho de la imagen */
    height: 70px; /* Altura de la imagen */
    border-radius: 50%; /* Hacer la imagen redonda (puedes ajustar el porcentaje según tus necesidades) */
    margin-right: 20px; /* Margen derecho para separar la imagen del contenido */
    float: left; /* Flotar la imagen a la izquierda para que el contenido se alinee a su derecha */
}

/* Estilos para la información del profesor */
.profesor_info {
    overflow: hidden; /* Limpiar el float de la imagen */
}
/*****************************************/
/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semi-transparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .verde {
    color: green;
}

.rojo {
    color: red;
}