/* Estilo para elementos con la clase 'texto-negrita' */
.texto-negrita {
    font-weight: bold;
}
body {
    background-color: #87b4c9; 
    color: #ffffff;
    font-family: 'Barbie', cursive;
}
h1{
    color: #2281cf; 
}
header{
    color: #2281cf; 
}
h2{
    color: #2858dd; 
}
a{
    color:#000000;
}
.styled-table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: #729ab4; 
}

.styled-table td, 
.styled-table th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
