table {
    width: 100%;
    border-collapse: collapse;
}
body {
    background-color: #f082e3; 
    color: #ffffff;
    font-family: 'Barbie', cursive;
}
h1{
    color: #bf0e9e; 
}
h2{
    color: #dd28bc; 
}
a{
    color:#000000;
}
th, td {
    border: 1px solid #010000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #d3c8c8;
}
.task {
    background-color: #deb6e6;
    color: white;
}
