table {
    width: 100%;
    border-collapse: collapse;
}
body {
    background-color: #abcddd; 
    color: #ffffff;
    font-family: 'Barbie', cursive;  
}
h1{
    color: #2281cf; 
}
h2{
    color: #2858dd; 
}
a{
    color:#000000;
}
th, td {
    border: 1px solid #010000;
    padding: 8px;
    text-align: center;
    background-color: #44a5aa;
}
th {
    background-color: #2f86b9;
}
.task {
    background-color: #7bc0c4;
    color: white;
}
